/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}


/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

*{
  margin:0;
  padding: 0;
}

body {}

NAV {
  width: 98%;
  background-color: #ffffff ;
  border: 5px solid #ffffff;
  border-radius: 15px;
  margin: auto;
  position: absolute;
  margin-top: -2;
  margin-top: 0;
  
  background-color:#c3c3b9;
 
 
}

NAV .topbar {
  width: 98%;
  height: 100px;
  border: 3px double #ffffff;
  position: fixed;
  margin-left: -3px;
  background-color: green;
  border-radius: 14px;
  margin-top: -2;
}

.topbar h1 {
  text-align: center;
  color: #ffffff;
}

.topbar ul {
  display: flex;
  list-style: none;
  justify-content: center ;
}

.topbar ul li {
  display: flex;
  list-style: none;
  justify-content: center ;
  background-color:#a0eead ;
  border: 3px double #fff;
  border-radius: 20px;
  margin: 10px auto;
  width: 120px;
  transition: 2s  ;
  
}


.topbar ul li:active a{
  display: flex;
  list-style: none;
  justify-content: center ;
  background-color: green;
  border: 2px solid #cbd3d5;
  border-radius: 15px;
  margin: 10px auto;
  width: 120px;
  height: 30px;
  color: #ffffff;
}

.topbar ul li a {
  display: flex;
  list-style: none;
  justify-content: center ;
  text-decoration: none;
  color: green;
}

NAV .main {
  margin-top: 120px ;
}

NAV .main p {
  
  padding-bottom: 100px;
  padding-right: 10px; 
  padding-left: 10px;
  text-align: justify;
  text-align-last: center;
  font-size: 25px;
  color: green;
  text-shadow: 0px 0.4px 0px #fff;
}
